[MASTER]

logging-format-style=new

[MESSAGES CONTROL]
#enable=R,
#        missing-function-docstring

#enable=all

enable=W,C,R
disable=line-too-long,
        missing-module-docstring,
        #missing-function-docstring,
        #missing-class-docstring,

[BASIC]

good-names=i,
           j

