#
# weight service
#

[Unit]
Description=Weight service
After=network.target
StartLimitIntervalSec=30
Requires=Bluetooth 

[Service]
Type=idle
Restart=on-failure
RestartSec=60
User=root
Environment=PYTHONUNBUFFERED=1
StandardOutput=append:/var/log/weight-service.log
ExecStart=/usr/local/bin/weight/weight.py

[Install]
WantedBy=multi-user.target
